プログラムの流れ
1. 2000年からの履歴を取得
1. 最新のFX情報を取得して、Dataframeに保存
1. データフレームの結合
1. ファイルの保存

In [53]:
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader.data as web
import datetime
import pickle

In [54]:
start = datetime.datetime(2000, 1, 1)
end = datetime.datetime.now()

# 日経平均の取得
#### https://ntk-lab.com/import_stock_data/

In [29]:
def nikkei_download():
    # 日経平均
    df_nikkei=web.DataReader('^N225', 'yahoo',start,end)
    print ("配列長さ:",len(df_nikkei))
    df_nikkei=df_nikkei[['Open','Close']]
    df_nikkei = df_nikkei.reset_index()
    return df_nikkei

In [30]:
df_nikkei=nikkei_download()
display(df_nikkei.head(3))
display(df_nikkei.tail(3))

配列長さ: 4995

        Date          Open         Close
0 2000-01-04  18937.449219  19002.859375
1 2000-01-05  19003.509766  18542.550781
2 2000-01-06  18574.009766  18168.269531

           Date          Open         Close
4992 2020-05-21  20692.589844  20552.310547
4993 2020-05-22  20583.949219  20388.160156
4994 2020-05-25  20653.410156  20741.650391

# ダウ平均の取得
### https://jp.investing.com/indices/us-30-historical-data

In [35]:
def dow_download():
    # ダウ平均
    df_dow = web.DataReader('^DJI', 'yahoo',start,end)
    
    df_dow['dow_compare']=df_dow['Close']/df_dow['Open']
    df_dow=df_dow[['dow_compare']]
    df_dow = df_dow.reset_index()
    
    print ("配列長さ:",len(df_dow))
    
    # ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ここでダウ平均の時間を＋する
    df_dow['Date']=df_dow['Date']+ datetime.timedelta(days=1)
    return df_dow
df_dow=dow_download()

配列長さ: 5131

# 結合

In [ ]:
# 曜日の追加
df['weekday']=df['Date'].apply(lambda x: x.weekday())

In [39]:
df=pd.merge(df_nikkei,df_dow,how='inner')
df['Close']=df['Close'].astype('float')
df['Open']=df['Open'].astype('float')
df['weekday']=df['Date'].apply(lambda x: x.weekday())
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3939 entries, 0 to 3938
Data columns (total 5 columns):
Date           3939 non-null datetime64[ns]
Open           3939 non-null float64
Close          3939 non-null float64
dow_compare    3939 non-null float64
weekday        3939 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 184.6 KB

           Date          Open         Close  dow_compare  weekday
3934 2020-05-15  20149.789062  20037.470703     1.025002        4
3935 2020-05-19  20469.519531  20433.449219     1.022335        1
3936 2020-05-20  20454.490234  20595.150391     0.984920        2
3937 2020-05-21  20692.589844  20552.310547     1.004905        3
3938 2020-05-22  20583.949219  20388.160156     0.996330        4

# ファイルの保存

In [33]:
# ファイルの保存
df.to_csv('data/stock.csv',index=False)
df.to_pickle('data/stock.pkl')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3939 entries, 0 to 3938
Data columns (total 4 columns):
Date           3939 non-null datetime64[ns]
Open           3939 non-null float64
Close          3939 non-null float64
dow_compare    3939 non-null float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 153.9 KB