プログラムの流れ
1. 2000年からの履歴を取得
1. 最新のFX情報を取得して、Dataframeに保存
1. データフレームの結合
1. ファイルの保存

最新FXデータを取得することは可能
https://www.central-tanshifx.com/market/finder/popn-csv-download.html

# 2000年からの履歴を取得

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

def history_csv():
    df_history=pd.read_csv('data/ZAR.csv')
    df_history=df_history[['日付け','終値','始値']]
    df_history.rename(columns={'日付け':'Date','始値':'Open','終値':'Close'},inplace=True)

    df_history = df_history.sort_values('Date')

    print ("配列長さ:",len(df_history))
    #df_history['Date'] = pd.to_datetime(df_history['Date'],format='%Y-%m-%d')
    # 日付の変換　年月→
    df_history['Date'] = pd.to_datetime(df_history['Date'], format = '%Y年%m月%d日')
    df_history.reset_index(drop=True, inplace=True)
    return df_history

df_history=history_csv()
df_history.tail(3)

配列長さ: 4734

           Date   Close    Open
4731 2018-09-26  7.9752  7.8762
4732 2018-09-27  8.0266  7.9774
4733 2018-09-28  8.0365  8.0224

# 最新のFX情報を取得して、Dataframeに保存

In [2]:
def latest_csv():
    url  = 'https://info.ctfx.jp/service/market/csv/16_ZARJPY_D.csv'
    df_get = pd.read_csv(url,encoding='cp932',engine='python')
    df_get = df_get.rename(columns={'日付':'Date','始値':'Open','終値':'Close'})
    df_get = df_get.sort_values('Date')
    df_get=df_get[[
        'Date',
        'Open',
        'Close',
        ]]
    
    df_get['Date'] = pd.to_datetime(df_get['Date'], format = '%Y/%m/%d')
    df_get.reset_index(drop=True, inplace=True)

    return df_get


df_get=latest_csv()
df_get.tail(3)

          Date   Open  Close
197 2020-04-29  5.714  5.875
198 2020-04-30  5.849  5.778
199 2020-05-01  5.754  5.679

# データフレームの結合

In [3]:
# 過去の最終日を取得。変数に入れる。
max_date=df_history.iloc[df_history.shape[0]-1,0]

# 過去の最終日と、最新の最終日のDFを結合する。
df_all=pd.concat([df_history,df_get[df_get['Date']>max_date]],axis=0)

/Users/fujiccofujimoto/.pyenv/versions/Anaconda3-2019.10/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

# ファイルの保存

In [4]:
# ファイルの保存
df_all.to_csv('data/fx_latest.csv',index=False)

In [5]:
df_all

       Close       Date    Open
0    15.2400 2000-08-29  15.310
1    15.3103 2000-08-30  15.190
2    15.2866 2000-08-31  15.280
3    15.2562 2000-09-01  15.280
4    15.1945 2000-09-04  15.220
..       ...        ...     ...
195   5.7030 2020-04-27   5.623
196   5.7150 2020-04-28   5.680
197   5.8750 2020-04-29   5.714
198   5.7780 2020-04-30   5.849
199   5.6790 2020-05-01   5.754

[4934 rows x 3 columns]