プログラムの流れ
1. 2000年からの履歴を取得
1. 最新のFX情報を取得して、Dataframeに保存
1. データフレームの結合
1. ファイルの保存

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

# 日経平均の取得

#### https://jp.investing.com/indices/japan-ni225-historical-data

In [2]:
def nikkei_csv():
    df_history = pd.read_csv('stockdata/日経平均株価 過去データ.csv')#,encoding='cp932') 
    print(df_history.shape)
    #display(df_history)
    #df_history=df_history.drop(index=(df_history.shape[0]-1))
    df_history=df_history[['日付け','終値','始値']]
    df_history.rename(columns={'日付け':'Date','始値':'Open','終値':'Close'},inplace=True)

    df_history = df_history.sort_values('Date')

    print ("配列長さ:",len(df_history))

    # 日付の変換　年月
    df_history['Date'] = pd.to_datetime(df_history['Date'], format = '%Y年%m月%d日')
    df_history.reset_index(drop=True, inplace=True)
    
    return df_history

In [3]:
df_nikkei=nikkei_csv()
df_nikkei.head()

(4762, 7)
配列長さ: 4762

        Date      Close       Open
0 2001-01-05  13,867.61  13,763.22
1 2001-01-09  13,610.51  13,732.85
2 2001-01-10  13,432.65  13,593.16
3 2001-01-11  13,201.07  13,433.09
4 2001-01-12  13,347.74  13,246.20

# ダウ平均の取得
### https://jp.investing.com/indices/us-30-historical-data

In [4]:
def dow_csv():
    df_history = pd.read_csv('stockdata/NYダウ平均株価 過去データ.csv')#,encoding='cp932')      

    df_history=df_history[['日付け','前日比%']]
    df_history.rename(columns={'日付け':'Date','前日比%':'dow_compare'},inplace=True)
    print ("配列長さ:",len(df_history))

    # 日付の変換　年月→
    df_history['Date'] = pd.to_datetime(df_history['Date'], format = '%Y年%m月%d日')
    df_history.reset_index(drop=True, inplace=True)
    df_history['dow_compare']=df_history['dow_compare'].str.replace("%","")

    return df_history


df_dow=dow_csv()
display(df_dow.head())
display(df_dow.tail())

配列長さ: 3356

        Date dow_compare
0 2020-05-05        0.56
1 2020-05-04        0.11
2 2020-05-01       -2.55
3 2020-04-30       -1.17
4 2020-04-29        2.21

           Date dow_compare
3351 2007-01-10        0.21
3352 2007-01-09       -0.06
3353 2007-01-08        0.21
3354 2007-01-05       -0.66
3355 2007-01-04        0.05

# 結合

In [5]:
df=pd.merge(df_nikkei,df_dow,how='inner')

# ファイルの保存

In [6]:
# ファイルの保存
df.to_csv('data/stock.csv',index=False)

In [7]:
df

           Date      Close       Open dow_compare
0    2007-01-04  17,353.67  17,322.50        0.05
1    2007-01-05  17,091.59  17,315.54       -0.66
2    2007-01-09  17,237.77  17,018.89       -0.06
3    2007-01-10  16,942.40  17,192.42        0.21
4    2007-01-11  16,838.17  16,958.57        0.59
...         ...        ...        ...         ...
3147 2020-04-24  19,262.00  19,331.86        1.11
3148 2020-04-27  19,783.22  19,410.84        1.51
3149 2020-04-28  19,771.19  19,776.18       -0.13
3150 2020-04-30  20,193.69  20,105.68       -1.17
3151 2020-05-01  19,619.35  19,991.97       -2.55

[3152 rows x 4 columns]