プログラムの流れ
1. 2000年からの履歴を取得
1. 最新のFX情報を取得して、Dataframeに保存
1. データフレームの結合
1. ファイルの保存

In [5]:
import matplotlib.pyplot as plt
import pandas as pd

# 日経平均の取得

#### https://jp.investing.com/indices/japan-ni225-historical-data

In [6]:
def nikkei_csv():
    df_history = pd.read_csv('stockdata/日経平均株価 過去データ.csv')#,encoding='cp932') 
    print(df_history.shape)
    #display(df_history)
    #df_history=df_history.drop(index=(df_history.shape[0]-1))
    df_history=df_history[['日付け','終値','始値']]
    df_history.rename(columns={'日付け':'Date','始値':'Open','終値':'Close'},inplace=True)

    df_history = df_history.sort_values('Date')

    print ("配列長さ:",len(df_history))

    # 日付の変換　年月
    df_history['Date'] = pd.to_datetime(df_history['Date'], format = '%Y年%m月%d日')
    df_history.reset_index(drop=True, inplace=True)
    
    
    df_history['Open']=df_history['Open'].str.replace(",","")
    df_history['Close']=df_history['Close'].str.replace(",","")

    
    return df_history

In [7]:
df_nikkei=nikkei_csv()
display(df_nikkei.head(3))
display(df_nikkei.tail(3))

(4774, 7)
配列長さ: 4774

        Date     Close      Open
0 2001-01-05  13867.61  13763.22
1 2001-01-09  13610.51  13732.85
2 2001-01-10  13432.65  13593.16

           Date     Close      Open
4771 2020-05-20  20595.15  20454.49
4772 2020-05-21  20552.31  20692.59
4773 2020-05-22  20388.16  20583.95

# ダウ平均の取得
### https://jp.investing.com/indices/us-30-historical-data

In [8]:
def dow_csv():
    df_history = pd.read_csv('stockdata/NYダウ平均株価 過去データ.csv')#,encoding='cp932')      

    df_history=df_history[['日付け','前日比%']]
    df_history.rename(columns={'日付け':'Date','前日比%':'dow_compare'},inplace=True)
    print ("配列長さ:",len(df_history))

    # 日付の変換　年月→
    df_history['Date'] = pd.to_datetime(df_history['Date'], format = '%Y年%m月%d日')
    df_history.reset_index(drop=True, inplace=True)
    df_history['dow_compare']=df_history['dow_compare'].str.replace("%","")
    
    
    

    return df_history


df_dow=dow_csv()
display(df_dow.head(3))
display(df_dow.tail(3))

配列長さ: 3369

        Date dow_compare
0 2020-05-22       -0.04
1 2020-05-21       -0.41
2 2020-05-20        1.52

           Date dow_compare
3366 2007-01-08        0.21
3367 2007-01-05       -0.66
3368 2007-01-04        0.05

# 結合

In [9]:
df=pd.merge(df_nikkei,df_dow,how='inner')
df['Close']=df['Close'].astype('float')
df['Open']=df['Open'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3164 entries, 0 to 3163
Data columns (total 4 columns):
Date           3164 non-null datetime64[ns]
Close          3164 non-null float64
Open           3164 non-null float64
dow_compare    3164 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 123.6+ KB

# ファイルの保存

In [10]:
# ファイルの保存
df.to_csv('data/stock.csv',index=False)

In [11]:
df

           Date     Close      Open dow_compare
0    2007-01-04  17353.67  17322.50        0.05
1    2007-01-05  17091.59  17315.54       -0.66
2    2007-01-09  17237.77  17018.89       -0.06
3    2007-01-10  16942.40  17192.42        0.21
4    2007-01-11  16838.17  16958.57        0.59
...         ...       ...       ...         ...
3159 2020-05-18  20133.73  20097.62        3.85
3160 2020-05-19  20433.45  20469.52       -1.59
3161 2020-05-20  20595.15  20454.49        1.52
3162 2020-05-21  20552.31  20692.59       -0.41
3163 2020-05-22  20388.16  20583.95       -0.04

[3164 rows x 4 columns]